@model IEnumerable<EmoAttributes.Models.EmoAttribute>

<h2>EmoAttributes</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emo in Model)
        {
            <tr>
                <td>@emo.Id</td>
                <td>@emo.Name</td>
                <td>
                    <a href="@Url.Action("Details", new { id = emo.Id })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = emo.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = emo.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")">Create New</a>
